<% title "Blog" %>
<div class="container">

	<div class="contact-content mt-30 mb-30">
		<div class="box box-primary">
			<h1 class="box-header">Blog</h1>
		  		<div class="box-body">

					
					
				
					
				</div>
			</div>


	</div>


</div>