<% title "Nous contacter" %>
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
	<div class="contact-content mt-30 mb-30">
		<div class="box box-primary">
			<h1 class="box-header">Nous contacter</h1>
		  		<div class="box-body">

				
					<strong>N'hésitez pas à nous faire parvenir vos suggestions et/ou commentaires!</strong>
					<br /><br />
					<p>
						Vous pouvez utiliser le formulaire ci-dessous pour nous contacter. Que ce soit pour des commentaires, des suggestions, pour un problème, simplement pour avoir de l'information ou de l'aide. 
					</p>

						<%= render 'contact_forms/form', contact_form: @contact_form %>

			
					</div>
					</div>
				</div>
			</div>


	</div>


</div>