
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <%= render('./shared/logo') %>
    </div>

    <!-- User name -->
    <div class="help-block text-center">
  	     <p>Pour être informer lors du lancement officiel du service, veuillez vous abonner!</p>
    </div>
    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">

      <!-- lockscreen credentials (contains the form) -->
      <%= form_for(@suscriber, class: "lockscreen-credentials") do |f| %>

        <div class="input-group">
  		    <%= f.email_field :email,  class: "form-control",  placeholder: "Votre adresse email ici!", required: true %>
                <div class="input-group-btn">
          
                    <%= f.submit "Envoyer", class: "btn bg-purple" %>
           
                </div>

            <% end %>
      

        </div>
    </div>
    <div class="text-center">
     
     
    </div>
    <div class="lockscreen-footer text-center">
      Copyright &copy; 2017 <b><a href="http://imofy.xyz" class="text-black">Imofy.</a></b>
      All rights reserved
    </div>
</div>

<!-- /.center -->

