<% @vehicle_types.each do |vehicle_type| %>
    <tr>
   
    <td><%= vehicle_type.name %></td>
    <td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_vehicle_type_path(vehicle_type), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), vehicle_type_delete_path(vehicle_type), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>